{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3>Admin Login</h3>
    <form method="post">
      <input type="hidden" name="next" value="{{ next }}">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input class="form-control" name="username" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" name="password" required>
      </div>
      <div>
        <button class="btn btn-primary">Login</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary ms-2">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
